.chartItemContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.chartItemRank {
  width: 40px;
  font-size: 1.2rem;
  padding: 15px;
}

.chartItemCover {
  width: 70px;
  margin: 0 10px;
  border-radius: 10px;
}

.chartItemEmptyCover {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin: 0 10px;
  background-color: dimgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
}

.chartItemContents {
  display: flex;
  flex-direction: column;
}

.chartItemTitle {
  font-size: 1rem;
  margin-bottom: 5px;
}

.chartItemSubtitle {
  font-size: 0.8rem;
  font-style: italic;
}
