.chartContainer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: auto;
  margin: 80px auto;
}

.chartTitle {
  margin-bottom: 20px;
}

.chartListItem {
  padding: 10px 0;
}

.chartListItem:nth-child(even) {
  background-color: #262626;
  border-radius: 10px;
}
