.globalButton {
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 12px 17px;
  margin: 4px 0;
  background-color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.globalButton:active {
  transform: scale(0.9);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .globalButton {
    margin-left: 20px;
    width: 60px;
    height: 25px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
